[user]
  email = takaaki.muta@gmail.com
  name = Takaaki Muta

[diff]
  renames = copy

[color]
  ui = true

[alias]
  st = status -sb
  co = checkout
  br = branch -a
  brm = branch --merged
  brn = branch --no-merge
  sb = show-branch --current --sha1-name
  ci = !screen -t git-commit git commit -v
  ds = !screen -t git-diff git diff --staged
  d = !screen -t git-diff git diff HEAD
  l = !screen -t git-log git log --name-status --graph --decorate=short --date=local
[core]
  pager = less
  editor = vi
[http]
	proxy = http://proxy.fiosys.co.jp:8080
[https]
	proxy = http://proxy.fiosys.co.jp:8080
